@using MVCStateMgtDemo.Models
@model IEnumerable<MVCStateMgtDemo.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h1>EmployeeId = @Session["empid"] has ordered the following products</h1>
<p>
    @Html.ActionLink("Create New", "OrderMoreProducts")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prodid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th></th>
    </tr>
    @{ 
        //List<Product> ordersdata = ((IEnumerable<Product>)TempData["productorders"]).ToList();
        IEnumerable<Product> ordersdata = (IEnumerable<Product>)TempData["productorders"];
    }
@foreach (var item in ordersdata) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Prodid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
